---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="max-w-4xl p-12 text-lg text-black dark:text-white">
    <div class="mb-12 flex flex-col gap-4 border-b-2 p-4">
      <h1 class="text-5xl font-bold">TLDR:</h1><p>
        I'm a lifelong musician/audio engineer turned software engineer.
      </p>
    </div>
    <div class="flex flex-col gap-8">
      <p class="min-h-fit">
        If you were to have asked me 10 years ago what I would be doing today, I would have
        confidently said "a touring musican", or at least "something in the music industry." One
        year, in my early teens, I received a guitar for Christmas. From that moment forward, I
        devoted countless hours every day to practicing and learning. I began to use the DAW
        (digital audio workstation) Sony Acid Pro to record demos. I was able to pick the software
        up quickly as I had always been intrigued with computers since a very early age. I remember
        being in 5th grade helping my parents with their dial up internet. In 6th grade, my friend
        and I built a proxy server so we could bypass our schools firewall in order to watch youtube
        videos (sorry Mom!). But I digress. Evetually, during high school, my music enddevours
        allowed me to play hundreds of live shows across the US.
      </p>
      <p class="text-xl font-bold">A pursuit of passion</p>
      <p class="min-h-fit">
        After high school, I pursued a career in music with a focus on audio engineering and
        producing. I used FL Studio (another DAW) and VSTS (virtal studio technologies) to create
        music by emulating analog instruments and effects. This virtual way of creating music with
        software allowed me to combine two of my greatest passions, computers and music. I found
        moderate success in music production, creating instrumental tracks that I sold to vocalists.
        At the same time, I delved into audio engineering with the same determination and diligence
        that I had earlier used to teach myself guitar. I spent countless hours researching and
        studying techniques, and I set up a makeshift studio with limited resources. As I got more
        clients, I reinvested in better equipment and eventually had a professional setup. Between
        income from instrumental sales, recording, and various odd jobs, I sustained myself for some
        years.
      </p>
      <p class="text-xl font-bold">The end of the world</p>
      <p class="min-h-fit">
        In early 2020, the COVID-19 pandemic hit, and it forced me to look inward and evaluate my
        passions. I realized that my love for music had begun to fade, and it was time to explore
        new interests. That's when I started looking into software development. I always was
        facinated by the software I used to make music, and wondered how it was made. I began to
        dive down the rabit hole.
      </p>
      <p class="text-xl font-bold">Two sides of the same coin</p>
      <p class="min-h-fit">
        During quarentine, I spent countless hours watching tutorials, reading books, and practicing
        coding, and I fell in love with it. Early in my journey I began to realize how similar
        programming and producing music is. When you work with DAWs and VSTs to create music, you
        are creating the music programatically. You create loops and stack them together to make a
        track. Both producing music and programming require attention to detail and precision to
        create a quality output. Both involve problem-solving skills to overcome challenges, such as
        finding the right sound or fixing bugs. Both require a good sense of structure and
        organization to create a coherent end product. Both involve using creativity to find unique
        solutions to problems and come up with innovative ideas. I could go on and on.
      </p>
      <p class="min-h-fit">
        Although my journey has been somewhat unconventional, my experience in music has been
        invaluable in my development as a programmer. It has taught me to approach problems with an
        open mind and to always seek creative solutions.
      </p>
    </div>
  </div>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
