---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="w-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada faucibus ex nec ultricies. Donec mattis egestas nisi non pretium. Suspendisse nec congue purus, at vulputate odio. Integer convallis, nulla a faucibus convallis, velit quam ultrices quam, sit amet ornare neque est quis erat. Ut at augue tincidunt, porta nibh vel, hendrerit arcu. Vivamus in urna euismod, congue velit ac, iaculis ipsum. Praesent gravida nulla at enim suscipit, id dictum massa dictum. Fusce porta est at nulla commodo, vel placerat risus euismod. Sed eget nunc nulla.

    Nunc euismod dolor velit, at placerat velit dictum vel. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget euismod velit. Sed eget nunc nulla. Nam eget</div>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
