---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="max-w-4xl p-12">
    <p>
      For most of my life, I was a musician. This took various forms, such as guitarist, audio
      engineer, and producer. When I was in 7th grade, I got a guitar for Christmas and never looked
      back. Every day after school, I practiced for hours until I went to sleep. Looking up guitar
      tabs online and studying any guitar books I could get my hands on, I got pretty good. In 8th
      grade, I got my hands on a copy of Sony Acid Pro (recording software) and would record demos
      of songs I wrote. This all led to being in dozens of bands throughout my middle/high school
      life. I was fortunate enough to play hundreds of shows across the US during that era.
    </p>
    <br />
    <p>
      After high school, I continued my pursuit of a career in music. My focus shifted a bit towards
      audio engineering and producing. One day, I downloaded software called FL Studio. It is what's
      considered a DAW (digital audio workstation). With this software, you are able to use VSTs
      (Virtual Studio Technology) to emulate analog instruments and effects to create music. I found
      moderate success in music production, creating instrumental tracks and selling them to
      vocalists. At the same time, I also began my journey into Audio Engineering. With the same
      dedication and vigor I used years earlier to teach myself guitar, I did the same with
      recording. I spent hours every day researching and studying techniques. I set up a makeshift
      studio with the little money I had and began getting clients. One by one, I was able to
      reinvest and get some nicer equipment. Eventually, I had a pretty professional setup. Between
      income from instrumental sales, recording income, and various odd jobs (bartending, etc.), I
      was able to sustain myself for some years.
    </p>
    <br />
    <p>
      Cue 2020, and the COVID-19 pandemic. During this time, like many others, it was a very
      introspective period. I realized over time that my passion that started me on my journey with
      music had begun to fade. For a while, I had a hard time admitting that to myself because it
      was all I had known for so long. I started thinking a lot about what I wanted to do going
      forward. During my time working with DAWs and VSTs, I was always borderline obsessed with the
      software aspect. I was constantly searching for the latest plugin that would help my workflow.
      I spent a lot of time finding the inner workings and unique features of every one. I tried
      every single one I could find. I would internally rate them based on how they looked, how
      efficient they were on my CPU, and the workflow usability. Then it hit me. Software was
      something I had a newfound passion for. I loved everything about the software I had been using
      for so many years.
    </p>
    <br />
    <p>
      This led me down the path I am on now. Once again, using the same dedication and
      self-motivation I used at several other points in my life, I decided to teach myself
      programming. During quarantine, I spent countless hours watching tutorials, reading books, and
      practicing coding. I fell in love with it. I have always loved problem-solving, and
      programming has allowed me to mix a perfect harmony of problem-solving and creativity
      together.
    </p>
    <br />
    <p>
      While admittedly my path is different than most, I feel as though my time spent in music has
      helped me as a developer so much. It constantly allows me to find creative solutions to
      problems and approach things with an always-open mind.
    </p>
  </div>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
