---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/socials.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Zach Wagner">
  <div class="mt-0 flex w-full max-w-7xl flex-1 flex-col justify-start gap-8 p-12 lg:mt-16">
    <div class="flex flex-col">
      <h1 class="m-0 text-7xl font-bold text-black dark:text-white">
        Hi, I'm <span class="">Zach</span>
      </h1>
    </div>

    <p class="text-lg text-black dark:text-white">
      Software Developer with a passion for all things creative.
    </p>

    <p class="text-lg text-black dark:text-white">
      While you're here, feel free to checkout some more <a href="/about/" class="underline"
        >About</a
      >
      me and some of my selected <a href="/projects/" class="underline">Projects</a>.
    </p>
    <Socials />
  </div>
</Layout>
