---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="justify-centerp-6 flex h-[100%] w-[60vw] flex-col items-center">
    <div class="flex flex-col items-center justify-center">
      <h1 class="m-0 text-6xl font-extrabold">
        Hi, I'm <span class="text-gradient">Zach</span>
      </h1>
    </div>

    <p class="mt-10">
      As a passionate developer, I am dedicated to crafting high-quality and innovative software
      solutions. I am always open to new opportunities and excited to take on new challenges.
    </p>

    <p class="mt-10">
      While you're here, feel free to checkout some more <a href="/about/" class="underline"
        >About</a
      >
      me and some of my selected <a href="/projects/" class="underline">Projects</a>.
    </p>
    <button class="mt-10 w-[100px] rounded-md bg-blue-400 p-2">Let's Talk</button>
  </div>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
