---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/socials.astro";
---

<Layout title="Welcome to Astro.">
  <div class="mt-12 flex h-[100%] w-full max-w-4xl flex-col p-6">
    <div class="flex flex-col">
      <h1 class="m-0 text-4xl font-extrabold">
        Hi, I'm <span class="">Zach</span>
      </h1>
    </div>

    <p class="mt-10">
      As a passionate developer, I am dedicated to crafting high-quality and innovative software
      solutions. I am always open to new opportunities and excited to take on new challenges.
    </p>

    <p class="mt-6">
      While you're here, feel free to checkout some more <a href="/about/" class="underline"
        >About</a
      >
      me and some of my selected <a href="/projects/" class="underline">Projects</a>.
    </p>
    <Socials />
  </div>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
