---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/socials.astro";
---

<Layout title="Welcome to Astro.">
  <div class="mt-12 flex h-full w-full max-w-3xl flex-col justify-center p-6">
    <div class="flex flex-col">
      <h1 class="m-0 text-7xl font-bold">
        Hi, I'm <span class="">Zach</span>
      </h1>
    </div>

    <p class="mt-10 text-lg">Software Developer with a passion for all things creative.</p>

    <p class="mt-6 text-lg">
      While you're here, feel free to checkout some more <a href="/about/" class="underline"
        >About</a
      >
      me and some of my selected <a href="/projects/" class="underline">Projects</a>.
    </p>
    <Socials />
  </div>
</Layout>
