---
import Layout from '../layouts/Layout.astro';
import Socials from '../components/socials.astro';
---

<Layout title='Zach Wagner'>
  <div class='mt-0 flex w-full max-w-7xl flex-1 flex-col justify-start gap-8 p-12 lg:mt-16'>
    <div class='flex flex-col'>
      <h1 class='m-0 text-4xl font-bold text-black dark:text-white'>
        Hi, I'm <span class=''>Zach</span>
      </h1>
    </div>

    <p class='text-lg text-black dark:text-white'>I build software.</p>
    <Socials />
  </div>
</Layout>
