---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="projects">
  <div class="flex w-full max-w-6xl flex-col justify-start overflow-auto">
    <h1 class="flex w-full justify-center p-4 text-xl">Selected Projects</h1>
    <div class="flex w-full flex-wrap flex-row justify-center p-4 gap-4">
      <Card title="Vital View" description="blah blah blah" techOne="TypeScript" img={"/vv.png"} />
      <Card title="CakePopUI" description="Design System/UI Kit" techOne="TypeScript" img={"/vv.png"}/>
      <Card title="CakePopUI" description="Design System/UI Kit" techOne="TypeScript" img={"/vv.png"}/>
    </div>
  </div>
</Layout>
