---
import { Icon } from 'astro-icon/components';
---

<header class='h-fit w-full bg-slate-100 dark:bg-neutral-900 py-12'>
  <nav class='justify-between flex w-full mx-auto px-12'>
    <a href='/' id='logo' class='pt-1 text-lg text-black dark:text-white lg:block'> ZW </a>
    <button
      id='theme-btn'
      title='Theme Switcher'
      class='rounded text-black outline-none ring-blue-500 focus-visible:ring-4 focus-visible:ring-offset-0 dark:text-white'
      data-toggle-theme='dark,light'
      data-act-class='ACTIVECLASS'>
      <Icon name='ph:moon-bold' class='w-6 h-6 hover:text-orange-500' />
      <Icon name='ph:sun-bold' class='w-6 h-6 hover:text-orange-500' />
    </button>
  </nav>

  <style lang='css'>
    [data-icon='ph:sun-bold'],
    html[data-theme='dark'] [data-icon='ph:moon-bold'] {
      display: none;
    }
    [data-icon='ph:moon-bold'],
    html[data-theme='dark'] [data-icon='ph:sun-bold'] {
      display: block;
    }
  </style>
</header>
