---
import { Icon } from "astro-icon";
import Menu from "./Menu";
---

<script is:inline src="/ThemeSwitcher.js"></script>

<Menu client:only="react">
  <button
    id="theme-btn"
    title="Theme Switcher"
    class="rounded bg-slate-400 p-2 outline-none ring-blue-500 focus-visible:ring-4 focus-visible:ring-offset-0 dark:bg-gray-500"
    onclick="handleThemeSwitch()">
    <Icon name="ph:moon-bold" class="w-5 h-5" />
    <Icon name="ph:sun-bold" class="w-5 h-5" />
  </button>
</Menu>

<style lang="css">
  [astro-icon="ph:moon-bold"]:hover {
    color: orange;
  }
  [astro-icon="ph:sun-bold"],
  html[data-theme="dark"] [astro-icon="ph:moon-bold"] {
    display: none;
  }
  [astro-icon="ph:moon-bold"],
  html[data-theme="dark"] [astro-icon="ph:sun-bold"] {
    display: block;
  }
</style>
