---
import { Icon } from "astro-icon";
---

<div class="flex h-24 w-full items-center justify-start bg-slate-200 dark:bg-slate-800">
  <a
    href="https://github.com/zwagnr"
    class="inline-block rounded-lg p-2.5 text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400"
    aria-label="zwagnr Github">
    <Icon name="jam:github" class="w-8 h-8" />
  </a>
  <a
    href="https://github.com/zwagnr"
    class="inline-block rounded-lg p-2.5 text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    aria-label="zwagnr Twitter">
    <Icon name="jam:twitter" class="w-8 h-8" />
  </a>
  <a
    href="https://github.com/zwagnr"
    class="inline-block rounded-lg p-2.5 text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    aria-label="zwagnr discord">
    <Icon name="jam:discord" class="w-8 h-8" />
  </a>
</div>

<style lang="css">
  [astro-icon="jam:github"]:hover {
    color: orange;
  }
  [astro-icon="jam:twitter"]:hover {
    color: skyblue;
  }
  [astro-icon="jam:discord"]:hover {
    color: indigo;
  }
</style>
