---
import { Icon } from 'astro-icon/components';
---

<div class='flex w-full items-center justify-start py-4'>
  <a
    href='https://twitter.com/zwagnr'
    target='_blank'
    rel='noopener noreferrer'
    class='mr-4 inline-block rounded-lg text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700'
    aria-label='zwgnr X'>
    <Icon name='tabler:brand-x' class='w-8 h-8 hover:text-blue-500' />
  </a>
  <a
    href='https://github.com/zwgnr'
    target='_blank'
    rel='noopener noreferrer'
    class='mr-4 inline-block rounded-lg text-gray-500 placeholder:text-sm focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400'
    aria-label='zwgnr Github'>
    <Icon name='tabler:brand-github' class='w-8 h-8 hover:text-orange-500' />
  </a>
  <a
    href='https://www.linkedin.com/in/zach-wagner-4b3729246/'
    target='_blank'
    rel='noopener noreferrer'
    class='mr-4 inline-block rounded-lg text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700'
    aria-label='Zach Wagner LinkedIn'>
    <Icon name='tabler:brand-linkedin' class='w-8 h-8 hover:text-blue-500' />
  </a>
  <a
    href='/contact'
    class='mr-4 inline-block rounded-lg text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700'
    aria-label='zwagnr discord'>
    <Icon name='material-symbols:mail-outline' class='w-8 h-8 hover:text-green-500' />
  </a>
</div>
