---
import { Icon } from "astro-icon";
---

<div class="flex h-24 w-full items-center justify-start">
  <a
    href="https://github.com/zwagnr"
    target="_blank"
    rel="noopener noreferrer"
    class="mr-4 inline-block rounded-lg text-gray-500 placeholder:text-sm focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400"
    aria-label="zwagnr Github">
    <Icon name="bytesize:github" class="w-12 h-12" />
  </a>
  <a
    href="https://twitter.com/zwagnr"
    target="_blank"
    rel="noopener noreferrer"
    class="mr-4 inline-block rounded-lg text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700"
    aria-label="zwagnr Twitter">
    <Icon name="mdi:twitter" class="w-12 h-12" />
  </a>
  <a
    href="https://discordapp.com/users/872289369422200853"
    target="_blank"
    rel="noopener noreferrer"
    class="mr-4 inline-block rounded-lg text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700"
    aria-label="zwagnr discord">
    <Icon name="ic:baseline-discord" class="w-12 h-12" />
  </a>
</div>

<style lang="css">
  [astro-icon="bytesize:github"]:hover {
    color: orange;
  }
  [astro-icon="mdi:twitter"]:hover {
    color: rgb(81, 194, 239);
  }
  [astro-icon="ic:baseline-discord"]:hover {
    color: rgb(95, 58, 187);
  }
</style>
