---
import { Icon } from "astro-icon";
---

<div class="flex h-24 w-full items-center justify-start">
  <a
    href="https://github.com/zwagnr"
    target="_blank"
    rel="noopener noreferrer"
    class="mr-4 inline-block rounded-lg text-gray-500 placeholder:text-sm hover:scale-125 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400"
    aria-label="zwagnr Github">
    <Icon name="bytesize:github" class="w-8 h-8" />
  </a>
  <a
    href="https://twitter.com/zwagnr"
    target="_blank"
    rel="noopener noreferrer"
    class="mr-4 inline-block rounded-lg text-sm text-gray-500 hover:scale-125 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700"
    aria-label="zwagnr Twitter">
    <Icon name="mdi:twitter" class="w-8 h-8" />
  </a>
  <a
    href="https://discordapp.com/users/872289369422200853"
    target="_blank"
    rel="noopener noreferrer"
    class="mr-4 inline-block rounded-lg text-sm text-gray-500 hover:scale-125 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700"
    aria-label="zwagnr discord">
    <Icon name="ic:baseline-discord" class="w-8 h-8" />
  </a>
  <a
    href="mailto:zachwagner@hey.com"
    class="mr-4 inline-block rounded-lg text-sm text-gray-500 hover:scale-125 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-700"
    aria-label="zwagnr discord">
    <Icon name="mdi:email-outline" class="w-8 h-8" />
  </a>
</div>

<style lang="css">
  [astro-icon="bytesize:github"]:hover {
    color: orange;
  }
  [astro-icon="mdi:twitter"]:hover {
    color: skyblue;
  }
  [astro-icon="ic:baseline-discord"]:hover {
    color: rgb(59, 32, 128);
  }
  [astro-icon="mdi:email-outline"]:hover {
    color: red;
  }
</style>
