---
import Nav from "../../components/Nav.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import localBlImage from '../../images/base.png';
import localDhLogo from '../../images/dhLogo.png';
import localVvImage from '../../images/vitalview.png';
---

<Layout title="projects">
  <div class="flex w-full max-w-7xl flex-1 flex-col justify-start gap-8 overflow-auto">
    <h1
      class="mt:0 lg:mt-16 flex w-full justify-center text-4xl font-bold text-black dark:text-white">
      Selected Work
    </h1>
    <div class="flex w-full flex-row flex-wrap justify-center gap-8 p-8">
      <Card
        title="BaseLayer"
        description="Re-usable multi part components built on React Aria and TailwindCSS. All powered by a VScode Extension."
        img={localBlImage}
        info={"/projects/baselayer"}
        live={"https://baselayer.dev/"}
        github={"https://github.com/zwgnr/BaseLayer"}
      />
      <Card
        title="Deck Hub"
        description="Parallel TCG Deck Builder"
        img={localDhLogo}
        info={"/projects/deck-hub"}
        live={"https://deckhub.app/"}
        github={"https://deckhub.app/"}
      />
      <Card
        title="Vital View"
        description="A data analytics dashboard for your Oura Ring."
        img={localVvImage}
        info={"/projects/vital-view"}
        live={"https://vitalview.app/"}
        github={"https://github.com/zwagnr/vital-view"}
      />
    </div>
  </div>
</Layout>
