---
import Nav from "../../components/Nav.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="projects">
  <div class="flex w-full max-w-7xl flex-1 flex-col justify-start gap-8 overflow-auto">
    <h1
      class="mt:0 lg:mt-16 flex w-full justify-center text-4xl font-bold text-black dark:text-white">
      Selected Work
    </h1>
    <div class="flex w-full flex-row flex-wrap justify-center gap-8 p-8">
      <Card
        title="CakePopUI"
        description="Design System/UI Kit. Built on top of Vanilla Extract, Radix Primatives & ReactAria."
        img={"/images/cakepop.png"}
        info={"/projects/cakepop"}
        live={"https://cakepop-docs.vercel.app/"}
        github={"https://github.com/zwagnr/cakepop"}
      />
      <Card
        title="Deck Hub"
        description="Parallel TCG Deck Builder"
        img={"/images/dhLogo.png"}
        info={"/projects/deck-hub"}
        live={"https://deckhub.app/"}
        github={"https://deckhub.app/"}
      />
      <Card
        title="Vital View"
        description="A data analytics dashboard for your Oura Ring."
        img={"/images/vitalview.png"}
        info={"/projects/vital-view"}
        live={"https://vitalview.app/"}
        github={"https://github.com/zwagnr/vital-view"}
      />
    </div>
  </div>
</Layout>
