---
import Nav from "../../components/Nav.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { Icon } from "astro-icon";
---

<Layout title="projects">
  <div class="flex w-full max-w-5xl flex-col justify-start overflow-auto">
    <h1 class="flex w-full justify-center p-4 text-xl">Vital View</h1>
    <img src="/vv.png" class="h-auto w-1/2" />
    <div class="flex w-full flex-row flex-wrap justify-center gap-4 p-4">
      <div class="flex w-full items-center justify-between">
        <div class="flex w-1/3">
          <a
            href={"info"}
            class="relative inline-flex items-center justify-center rounded-bl-lg border border-transparent text-sm font-medium text-gray-700 hover:text-gray-500">
            <Icon name="tabler:file-info" class="w-8 h-8" />
            <span class="ml-3">Info</span>
          </a>
        </div>
        <div class="flex w-1/3">
          <a
            href={"github"}
            target="_blank"
            rel="noopener noreferrer"
            class="relative inline-flex items-center justify-center rounded-br-lg border border-transparent text-sm font-medium text-gray-700 hover:text-gray-500">
            <Icon name="mdi:github" class="w-8 h-8" />
            <span class="ml-3">Code</span>
          </a>
        </div>
        <div class="flex">
          <a
            href={"live"}
            target="_blank"
            rel="noopener noreferrer"
            class="relative inline-flex items-center justify-center rounded-br-lg border border-transparent text-sm font-medium text-gray-700 hover:text-gray-500">
            <Icon name="iconoir:www" class="w-8 h-8" />
            <span class="ml-3">Live</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
